{% extends "base_templates/general_base.html" %}
{% load humanize %}

{% block 'head' %}{% endblock 'head' %}

{% block 'body' %}

    {% include 'partials/manager/navbar.html' %}

    <div class="container">
        <br>
        <br>

        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data</th>
                    <th scope="col">Data máxima do orçamento</th>
                    <th scope="col">Urgência</th>
                </tr>
            </thead>
            <tbody>
                {% for budget in budgets %}
                    <tr>
                        <td>{{ budget.client }}</td>
                        <td>{{ budget.get_status_display }}</td>
                        <td>{{ budget.data }}</td>
                        <td>{{ budget.max_date|naturaltime }}</td>
                        <td>{{ budget.urgency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock 'body' %}